<%- include('header.html')  -%>
<script src="/js/public.js"></script>

<div class="person_nav w">
<%- include('navs.html')  -%>
 
    <div class="right_nav">
        <h1 class="title">我的收藏歌单列表</h1>
        <ul class="songList">
            <% collectlists.forEach(collectlist => { %>                 
                <li>
                    <a href="/songlist/<%= collectlist.ids %>">
                        <img src='/images/song<%= collectlist.ids %>.jpg' alt="">
                        <div class="mask"></div>
                        <div class="mask_bottom">
                            <span class="listen_icon"></span>
                            <span class="play_numbers"><%= collectlist.playnumber %></span>
                            <a class="play_icon"></a>
                        </div>
                    </a>           
                    <a href="/songlist/<%= collectlist.ids %>" class="text"><%= collectlist.content %></a>
                </li>
                <% }) %>   

               
        </ul>
    </div>
</div>
<%- include('footer.html')  -%>
