<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QG_music</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <script src="/js/animate.js"></script>
    <script src="/js/playershow.js"></script>
    <script src="/js/music_list.js"></script>
    <script src="/js/ajax.js"></script>
</head>
<body>
    <!-- 头部begin -->
<div class="header">
    <div class="header_m w">
       <a href="index.html" class="log"><img src="" alt=""><span class="log_text">QG云音乐</span></a>
        <ul class="header_nav">
            <li>
                <a href="javascript:;">发现音乐</a>
                <div class="triangle"></div>
            </li>
            <li>
                <a href="javascript:;">我的音乐</a>
                <div class="triangle"></div>
            </li>
            <li>
                <a href="javascript:;">朋友</a>
                <div class="triangle"></div>
            </li>
            <li>
                <a href="javascript:;">商城</a>
                <div class="triangle"></div>
            </li>
            <li>
                <a href="javascript:;">音乐人</a>
                <div class="triangle"></div>
            </li>
            <li>
                <a href="javascript:;">下载客户端</a>
                <div class="triangle"></div>
                <div class="hot"></div>
            </li>
        </ul>
        <div class="find">
            <input type="text" placeholder="音乐/视频/电台/用户" class="search">
        </div>
        <div class="creater"><a href="javascript:;">创作者中心</a></div> 
        <div class="region"><a href="javascript:;">登录</a></div>
    </div>
</div>
    <!-- 头部end -->